@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* font for body  */
body
{
    font-family: 'Poppins', sans-serif;
}
.top-headings
{
    margin-top: 15px;
    color:purple;
    
}
span
{
    font-weight: bold;
    display: block;
}
/* Change color of card */
.card-color
{
    background-color: rgb(252, 252, 252);
}
#count-phone
{
    display: inline;
}